	body{
		margin:0;
		font-family:tahoma,geneva,sans-serif;
	}
	
	.fixedwidth{
		width:1250px;
		margin:0 auto;
		padding-left: 13px;

	}

	.clear{
		clear:both;
	}

	#topbar{
		background-color:#161220;
		width:100%;
		height:120px;
		color:white;

	}
	#logodiv{
		padding-top: 25px;
		float:left;

		color: white;
		font-size: 3em;
		font-weight: bold;

	}

	#topOptions{
		float: left;
	}

	#topOptions ul{
		margin:0;
		padding:0;
	}
	#topOptions li{
		float:left;
		height: 32px;
		padding: 13px 20px 0px 20px;
		list-style:none;
		font-weight:bold;
		font-size:1em;
	}
	
	


	#content{
		width:100%;
		color:#535353;
		font-size:0.8em;
	}
	
