/********************* Colour reference chart****************
*************************** comment ********* colour ******** 

navbar background       

*/

body{
  font-family:tahoma,geneva,sans-serif;
}


.dropdown:hover .dropdown-menu {
display: block;
}

.navbar .navbar-default {
    background-color: #354458;
    border-color: #E7E7E7;
}
.navbar-default .navbar-nav > li > a {
    color: #777777;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #E7E7E7;
    color: #555555;
}

/*.topbar{
  background-color: #354458;
  height: 70px;
  margin: auto 0;
}

.navbar-brand{
  padding-top: 20px;
  color:white;
  font-size: 2.5em;
  font-weight: bold;
}
.navbar-brand:hover{
  color: yellow;
}

.navbar-collapse{
  height: 70px;
}
.navbar-nav{
  padding-top: 20px;
}

.navbar-nav a{
  color: #3A9AD9;
}

.navbar-nav li{
  padding-right: 40px;
}*/















/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #eac67a;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}










/*/* Style The Dropdown Button */
/*.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}*/

/* The container <div> - needed to position the dropdown content */
/*.dropdown {
    position: relative;
    display: inline-block;
}*/

/* Dropdown Content (Hidden by Default) */
/*.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}*/

/* Links inside the dropdown */
/*.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}*/

/* Change color of dropdown links on hover */
/*.dropdown-content a:hover {background-color: #f1f1f1}*/

/* Show the dropdown menu on hover */
/*.dropdown:hover .dropdown-content {
    display: block;
}*/

/* Change the background color of the dropdown button when the dropdown content is shown */
/*.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}*/
